<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='bs/css/flatly.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
    </head>
    <body>
        {% if admin %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">PEARLMART STORES</a>
                </div>
        
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="{{ url_for('logout') }}"><i class="glyphicon glyphicon-dashboard"></i> Logout</a>
                        </li>
                       
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>
<div class="container">
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
<p>Pearl-Mart Your Best Online Store</p>
        </ol>
    </div>
</div>

        <div class="panel panel-primary">
            <div class="panel-body">
                                <div class="thumbnail">
                <a href="">
                    <img src="{{ url_for('static', filename='imgs/33.jpg') }}" style="width: 100%;">
                </a>
            </div>
                    </div>
                
                </div>
                
            </div>
        </div>
    </div>
    </div>

</div>

        {% else %}
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('index') }}">PEARLMART STORES</a>
                </div>
        <!-- SEARCH BAR -->
                        
                        <!-- /SEARCH BAR -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right ">
                       
                        
                        <li >
                            <a href="{{ url_for('cart') }}">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                            </a>
                        </li>

                        <li >
                            <a href="{{ url_for('index') }}">
                                <i class="glyphicon glyphicon-chevron-right"></i> Store
                            </a>
                        </li>
                        
                        <li >
                            <a href="{{ url_for('home') }}">
                                <i class="glyphicon glyphicon-home"></i>Home Page
                            </a>
                        </li>
                        <li >
                            <a href="{{ url_for('checkout') }}">
                                <i class="glyphicon glyphicon-send"></i>Make Order
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div>
        </nav>

        <div class="container" id="page">
                    <div class="container">
<div class="row">
   <div class="col-lg-12"> 
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active" >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/1.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="btn-danger " style="font-size-adjust: 50px; font-size: 15px">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
 <h1>Pearl-Mart Shoppers</h1>
                            <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Check Our Store<a href="{{ url_for('index') }}" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
  {% endif %}

{% endwith %}
                           

					
                           
                        </div>
                    </div>
                </div>
                <div class="item " >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/2.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="btn-danger " style="font-size-adjust: 50px; font-size: 16px">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
 <h1>Pearl-Mart Shoppers</h1>
                            <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Check Our Store<a href="{{ url_for('index') }}" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
  {% endif %}
{% endwith %}
                           
						</div>
                            
                        
                    </div>
                </div>
                
                <div class="item " >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/3.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="btn-danger " style="font-size-adjust: 50px; font-size: 16px">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
 <h1>Pearl-Mart Shoppers</h1>
                            <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Check Our Store<a href="{{ url_for('index') }}" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
  {% endif %}
{% endwith %}
                            
						</div>
                            
                    </div>
                </div>
                <div class="item " >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/4.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="btn-danger " style="font-size-adjust: 50px; font-size: 16px">
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
</div>
{% else %}
 <h1>Pearl-Mart Shoppers</h1>
                            <p>We operate Currently In Mbarar City</p>
                            <p>Delivering all around The City</p>
                            <p>We Have The Best Prices in Town</p>
<p class="btn btn-primary my-2 my-sm-0">Check Our Store<a href="{{ url_for('index') }}" class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-chevron-right"></a> </p>
  {% endif %}
{% endwith %}
                            
						</div>
                           
                    </div>
                </div>
            
                
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
    
        <div class="panel panel-primary">
            
            <ul class="list-group">
                        <li class="list-group-item " >
                             <a href="{{ url_for('checkout') }}" class="btn btn-primary my-2 my-sm-0">Make Order</a>
                        </li>

                        <li class="list-group-item ">
                            <a href="{{ url_for('index') }}" class="btn btn-primary my-2 my-sm-0"><i class="glyphicon glyphicon-chevron-left"></i> Go to Store</a>
                        </li>
                        <li class="list-group-item ">
                            <a href="{{ url_for('cart') }}" class="btn btn-primary my-2 my-sm-0">
                                <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                            </a>
                        </li>
                       
                        <li class="list-group-item ">
                                <form class="form-inline my-2 my-lg-0" action="{{url_for('result')}} ">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search Our Products" aria-label="Search" name="q">
                                    <button class="btn btn-primary my-2 my-sm-0 glyphicon glyphicon-search" type="submit"></button>
                                </form>
                           
                       </li>
            </ul>
        </div>

    </div>
</div>
</div>
</div>

        {% endif %}



        {% block body %}
        {% endblock %}
        {% if admin %}
        <footer>
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        <strong> PEARLMART STORES</strong>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                        <strong><i>Shop For Anything And EveryThing You Want Right</i><b> HERE </b></strong>
                    </div>
                
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; 2022<strong> <i>Under</i><b> PEARL GROUP</b><i>Number 1 Businesses Group In Uganda</i></strong>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

    </body>
</html>
        {% else %}



<div class="row">
    <div class="col-lg-12">
        <div id="carousel-id" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-id" data-slide-to="0" class=""></li>
                <li data-target="#carousel-id" data-slide-to="1" class=""></li>
            </ol>
            <div class="carousel-inner">
                
                <div class="item active" >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/12.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Pearl-Mart Stores</h1>
							<p>Get the most trendy outfits to go with the season</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Kitchenware<a href="{{ url_for('index') }}" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
						</div>
                            
                    </div>
                </div>
                <div class="item " >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/13.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Trending</h1>
							<p>Get the most trendy products to go with the season</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Now<a href="{{ url_for('index') }}" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
						</div>
                            
                    </div>
                </div>
                 <div class="item " >
                    <img alt="First slide" src="{{ url_for('static', filename='imgs/14.jpg') }}" style="width: 100%;">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Featured</h1>
                            <p>Get the most trendy products to go with the season</p><p class="btn btn-primary btn-outline-info btn-sm mt-2">Shop Now<a href="{{ url_for('index') }}" class="btn btn-primary btn-outline-info btn-sm mt-2 glyphicon glyphicon-chevron-right"></a>
</p><p>                                    </p>
                        </div>
                            
                    </div>
                </div>

                
            </div>
            <a class="left carousel-control" href="#carousel-id" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            <a class="right carousel-control" href="#carousel-id" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>

    </div>
</div>
</div>
            
            <footer>
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        <strong> PEARLMART STORES</strong>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                        <strong><i>Shop For Anything And EveryThing You Want Right</i><b> HERE </b></strong>
                    </div>
                
                <div class="row pad">
                    <div class="col-lg-12 text-center">
                        Copyright &copy; 2022<strong> <i>Under</i><b> PEARL GROUP</b><i>Number 1 Businesses Group In Uganda</i>  <a href="{{url_for('login')}}" class="btn btn-primary my-2 my-sm-0"> LOGIN</a></strong>
                    </div>
                </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="{{ url_for('static', filename='bs/js/jquery.min.js') }}"></script>
        <!-- Bootstrap JavaScript -->
        <script src="{{ url_for('static', filename='bs/js/bootstrap.min.js') }}"></script>

    </body>
</html>
{% endif %}